#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text-justify {
  text-align: justify;
}

.card ul {
  padding-left: 1.2rem;
}

.card ul li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.pricing-box {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background-color: #f4f7ff; /* bg color */
  padding: 20px;
  border-radius: 12px;
}

.rupee-sign {
  font-size: 48px;
  font-weight: 700;
  color: #1a73e8; /* ₹ color */
  line-height: 1;
}

.pricing-content h1 {
  margin: 0 0 8px;
  text-align: left;
  font-size: 26px;
  font-weight: 700;
}

.pricing-content p {
  margin: 0;
  text-align: left;
  color: #555;
}
